ul li
{
    font-size: 20px;
    text-shadow: 1px 1px 1px black; 
    width: 20%;
    border-collapse:separate;
    border: 3px solid purple;
    display: inline-block;
   color: rgba(112, 37, 37, 0.76);
   text-align: center;
                
}
ul li:nth-child(odd){
    background-color: #ebc9e3;
  }


